<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="static/ccs/libs/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.js"></script>
    <script src="/static/chat.js"></script>
</head>
<body>
    <a href="/logout">Logout</a>
    <table width="100%" border="1px">
        <tr>
            <td width="30%">
                <div id="current">
                    <label id="current_username"></label>

                </div>
            </td>
        </tr>
    </table>
</body>
</html>